.text-status{
    font-weight: 500;
    border-radius: 5px;
    padding: 0.3rem 0.53rem;
    font-size: 12px;
}

.st-done{
    color: rgb(0, 110, 0);
    background-color: rgb(114, 204, 114);
}
.st-waiting{
    color: rgb(255, 123, 0);
    background-color: rgb(255, 225, 93);
}

.st-cancel{
    color:  rgb(190, 33, 33);
    background-color:rgb(255, 98, 119);
}
.st-vaccinated{
    color:  rgb(33, 88, 190);
    background-color:rgb(98, 153, 255);
}